#!/bin/bash

{{ if or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") }}
sudo apt-get update
sudo apt-get upgrade

# install sway
# nautilusの有無でデスクトップ環境の有無を判定
if !(type nautilus > /dev/null 2>&1); then
    sudo apt-get install curl wget sway xwayland nautilus wofi waybar zsh python3-argcomplete
fi

# install neovim
if !(type nvim > /dev/null 2>&1); then
    sudo apt install build-essential gdb ninja-build gettext libtool libtool-bin autoconf automake cmake g++ pkg-config unzip doxygen
    git clone https://github.com/neovim/neovim
    cd neovim
    make CMAKE_BUILD_TYPE=RelWithDebInfo
    sudo make install
fi

# install lsd
if !(type lsd > /dev/null 2>&1); then
    {{ if eq .chezmoi.arch "arm64" }}
    wget https://github.com/Peltoche/lsd/releases/download/0.23.1/lsd_0.23.1_arm64.deb
    sudo apt-get install ./lsd_0.23.1_arm64.deb --no-install-recommends
    {{ else if eq .chezmoi.arch "amd64" }}
    wget https://github.com/Peltoche/lsd/releases/download/0.23.1/lsd_0.23.1_amd64.deb
    sudo apt-get install ./lsd_0.23.1_amd64.deb --no-install-recommends
    {{ end }}
fi

#noto fonts
sudo apt-get install fonts-noto
{{ end }}

#firge nerd
if [ ! -d ~/.fonts/FirgeNerd_v0.2.0/ ]; then
    wget https://github.com/yuru7/Firge/releases/download/v0.2.0/FirgeNerd_v0.2.0.zip
    unzip FirgeNerd_v0.2.0.zip
    mkdir ~/.fonts
    mv FirgeNerd_v0.2.0/ ~/.fonts
fi

#beautiful terminal
if [ ! -e ~/.local/share/xfce4/terminal/colorschemes ]; then
    git clone https://github.com/catppuccin/xfce4-terminal
    cd xfce4-terminal
    cd src
    mkdir -p ~/.local/share/xfce4/terminal/colorschemes
    cp catppuccin-frappe.theme ~/.local/share/xfce4/terminal/colorschemes
fi
